.classpath
# Ignore Gradle project-specific cache directory
.gradle
.gwt-unit*
.settings
.settings/*

# Ignore Gradle build output directory
build
/bin/

gwt-unitCache*

node_modules
/node_modules/

war
war/WEB-INF/lib
/war/
/bin/
/bin
